# Descriptive Statistics

In [24]:
import pandas as pd
df = pd.read_pickle("churn_prediction_v3.pkl")
df.head()

,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,current_balance,previous_month_end_balance,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,churn
0,2401,66,Male,0,self_employed,187,2,755,1458.71,1458.71,1458.71,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71,0.0
1,2648,35,Male,0,self_employed,100000,2,3214,5390.37,8704.66,7799.26,12419.41,0.56,0.56,5486.27,100.56,6496.78,8787.61,0.0
2,2494,31,Male,0,salaried,146,2,41,3913.16,5815.29,4910.17,2815.94,0.61,0.61,6046.73,259.23,5006.28,5070.14,0.0
3,2629,90,Male,1,self_employed,1020,2,582,2291.91,2291.91,2084.54,1006.54,0.47,0.47,0.47,2143.33,2291.91,1669.79,1.0
4,1879,42,Male,2,self_employed,1494,3,388,927.72,1401.72,1643.31,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16,1.0

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15929 entries, 0 to 15928
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   vintage                         15929 non-null  int64
 1   age                             15929 non-null  int64
 2   gender                          15929 non-null  category
 3   dependents                      15929 non-null  int64
 4   occupation                      15929 non-null  category
 5   city                            15929 non-null  category
 6   customer_nw_category            15929 non-null  category
 7   branch_code                     15929 non-null  category
 8   current_balance                 15929 non-null  float64
 9   previous_month_end_balance      15929 non-null  float64
 10  average_monthly_balance_prevQ   15929 non-null  float64
 11  average_monthly_balance_prevQ2  15929 non-null  float64
 12  current_month_credit            15929 non-null  float64
 13  previous_month_credit           15929 non-null  float64
 14  current_month_debit             15929 non-null  float64
 15  previous_month_debit            15929 non-null  float64
 16  current_month_balance           15929 non-null  float64
 17  previous_month_balance          15929 non-null  float64
 18  churn                           15929 non-null  category
dtypes: category(6), float64(10), int64(3)
memory usage: 1.7 MB

In [26]:
len(df['age'])

15929

In [27]:
# for the AGE Col
Q1 = np.percentile(df['age'], 25)
Q3 = np.percentile(df['age'], 75)
IQR = Q3-Q1

upper_limit = Q3 + 1.5*IQR
lower_limit = Q1 - 1.5*IQR
lower_limit, upper_limit

(-2.5, 97.5)

In [28]:
df['age'].min(), df['age'].max()

(1, 90)

In [29]:
# This sum refers to the number on inliers
sum((df['age']>lower_limit) & (df['age']<upper_limit))

15929

In [30]:
# This sum refers to the number on outliers
sum((df['age'] < lower_limit) | (df['age'] > upper_limit))

0

In [31]:
# HW: DO this cal for all the numeric variables, and report the no. of outliers 
# in each of them

numeric_cols = list(df.dtypes[(df.dtypes == 'int64') | (df.dtypes == 'float64')].index)
numeric_cols

['vintage',
 'age',
 'dependents',
 'current_balance',
 'previous_month_end_balance',
 'average_monthly_balance_prevQ',
 'average_monthly_balance_prevQ2',
 'current_month_credit',
 'previous_month_credit',
 'current_month_debit',
 'previous_month_debit',
 'current_month_balance',
 'previous_month_balance']

In [42]:
df[numeric_cols]

,vintage,age,dependents,current_balance,previous_month_end_balance,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance
0,2401,66,0,1458.71,1458.71,1458.71,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71
1,2648,35,0,5390.37,8704.66,7799.26,12419.41,0.56,0.56,5486.27,100.56,6496.78,8787.61
2,2494,31,0,3913.16,5815.29,4910.17,2815.94,0.61,0.61,6046.73,259.23,5006.28,5070.14
3,2629,90,1,2291.91,2291.91,2084.54,1006.54,0.47,0.47,0.47,2143.33,2291.91,1669.79
4,1879,42,2,927.72,1401.72,1643.31,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15924,2175,40,0,9996.84,10032.93,5883.00,191.49,0.10,9923.99,0.10,0.10,10009.28,7483.44
15925,2500,64,0,309.64,5458.35,1738.15,300.91,0.04,46961.44,5148.76,41642.90,2733.69,2340.96
15926,2470,44,0,1049.67,2716.22,3622.00,6016.92,0.06,966.96,1428.63,5714.34,2100.30,1846.93
15927,2537,34,1,1106.86,992.59,2729.22,2170.80,8732.47,1714.39,8618.20,1142.96,5726.47,605.49
15928,2287,56,0,2098.29,1879.26,2122.82,2131.59,362.14,0.26,143.11,314.54,2132.49,2083.49

In [37]:
df[col].describe()

count    1.592900e+04
mean     7.438765e+03
std      4.973615e+04
min     -3.060130e+03
25%      2.077040e+03
50%      3.450510e+03
75%      6.679810e+03
max      5.720144e+06
Name: previous_month_balance, dtype: float64

In [42]:
Q1, Q3, Q3 + 1.5*IQR

(2077.04, 6679.81, 13583.965)

In [50]:
for col in numeric_cols:
    Q1 = np.percentile(df[col], 25)
    Q3 = np.percentile(df[col], 75)
    IQR = Q3-Q1

    upper_limit = Q3 + 1.5*IQR
    lower_limit = Q1 - 1.5*IQR
    
    # This sum refers to the number on outliers
    print(col, '\t', sum((df[col] < lower_limit) | (df[col] > upper_limit))  )

vintage 	 527
age 	 0
dependents 	 3307
current_balance 	 1522
previous_month_end_balance 	 1492
average_monthly_balance_prevQ 	 1497
average_monthly_balance_prevQ2 	 1444
current_month_credit 	 2576
previous_month_credit 	 2633
current_month_debit 	 2187
previous_month_debit 	 2285
current_month_balance 	 1495
previous_month_balance 	 1494

In [43]:
df[numeric_cols].corr().round(2)

,vintage,age,dependents,current_balance,previous_month_end_balance,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance
vintage,1.00,-0.01,-0.00,-0.00,0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.01,-0.00,-0.00
age,-0.01,1.00,0.01,0.05,0.05,0.05,0.05,0.04,0.03,0.04,0.03,0.05,0.05
dependents,-0.00,0.01,1.00,0.00,0.01,0.01,0.01,0.02,0.02,0.02,0.03,0.01,0.01
current_balance,-0.00,0.05,0.00,1.00,0.96,0.97,0.72,0.08,0.05,0.05,0.06,0.99,0.96
previous_month_end_balance,0.00,0.05,0.01,0.96,1.00,0.97,0.72,0.08,0.11,0.11,0.09,0.98,0.97
average_monthly_balance_prevQ,-0.00,0.05,0.01,0.97,0.97,1.00,0.76,0.10,0.08,0.10,0.11,0.98,1.00
average_monthly_balance_prevQ2,-0.00,0.05,0.01,0.72,0.72,0.76,1.00,0.06,0.06,0.06,0.09,0.73,0.73
current_month_credit,-0.00,0.04,0.02,0.08,0.08,0.10,0.06,1.00,0.57,0.80,0.46,0.09,0.11
previous_month_credit,-0.00,0.03,0.02,0.05,0.11,0.08,0.06,0.57,1.00,0.39,0.74,0.08,0.10
current_month_debit,-0.00,0.04,0.02,0.05,0.11,0.10,0.06,0.80,0.39,1.00,0.46,0.10,0.11
previous_month_debit,-0.01,0.03,0.03,0.06,0.09,0.11,0.09,0.46,0.74,0.46,1.00,0.08,0.13
current_month_balance,-0.00,0.05,0.01,0.99,0.98,0.98,0.73,0.09,0.08,0.10,0.08,1.00,0.97
previous_month_balance,-0.00,0.05,0.01,0.96,0.97,1.00,0.73,0.11,0.10,0.11,0.13,0.97,1.00

In [44]:
numeric_features = df[numeric_cols]
numeric_features.corr().round(2)

,vintage,age,dependents,current_balance,previous_month_end_balance,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance
vintage,1.00,-0.01,-0.00,-0.00,0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.01,-0.00,-0.00
age,-0.01,1.00,0.01,0.05,0.05,0.05,0.05,0.04,0.03,0.04,0.03,0.05,0.05
dependents,-0.00,0.01,1.00,0.00,0.01,0.01,0.01,0.02,0.02,0.02,0.03,0.01,0.01
current_balance,-0.00,0.05,0.00,1.00,0.96,0.97,0.72,0.08,0.05,0.05,0.06,0.99,0.96
previous_month_end_balance,0.00,0.05,0.01,0.96,1.00,0.97,0.72,0.08,0.11,0.11,0.09,0.98,0.97
average_monthly_balance_prevQ,-0.00,0.05,0.01,0.97,0.97,1.00,0.76,0.10,0.08,0.10,0.11,0.98,1.00
average_monthly_balance_prevQ2,-0.00,0.05,0.01,0.72,0.72,0.76,1.00,0.06,0.06,0.06,0.09,0.73,0.73
current_month_credit,-0.00,0.04,0.02,0.08,0.08,0.10,0.06,1.00,0.57,0.80,0.46,0.09,0.11
previous_month_credit,-0.00,0.03,0.02,0.05,0.11,0.08,0.06,0.57,1.00,0.39,0.74,0.08,0.10
current_month_debit,-0.00,0.04,0.02,0.05,0.11,0.10,0.06,0.80,0.39,1.00,0.46,0.10,0.11
previous_month_debit,-0.01,0.03,0.03,0.06,0.09,0.11,0.09,0.46,0.74,0.46,1.00,0.08,0.13
current_month_balance,-0.00,0.05,0.01,0.99,0.98,0.98,0.73,0.09,0.08,0.10,0.08,1.00,0.97
previous_month_balance,-0.00,0.05,0.01,0.96,0.97,1.00,0.73,0.11,0.10,0.11,0.13,0.97,1.00

### CONDITIONAL PROBABILITY

- Prob for an event A occuring, knowing (given) that event B has already occured.
- P(A|B) >>> read as ....> Prob. of A given B

P(A|B) = P(A and B)/P(B)   >>> ratio of the joint prob. and the
marginal prob. of the event which has already occured

In [51]:
# If I randomly pick a customer from the dataset, what is the prob. that 
# this customer will turn out to be a male, given that the customer is SALARIED ??

# Indirectly, If I pick a random customer WHO IS SALARIED, what is the probabolity
# that this customer will turn out to be a MALE ???

# P(Male | Salaried) = ???

(sum((df.gender=='Male')&(df.occupation=='salaried'))/len(df))/df.occupation.value_counts(normalize=True)['salaried']

0.7249666221628838

In [53]:
pd.crosstab(df['gender'], df['occupation'])

occupation  company  retired  salaried  self_employed  student
gender
Female            3      220      1030           4518      563
Male             20      925      2715           5342      593

In [55]:
2715/len(df)   # P(MALE and SALARIED)

0.17044384456023604

In [56]:
df['occupation'].value_counts()

self_employed    9860
salaried         3745
student          1156
retired          1145
company            23
Name: occupation, dtype: int64

In [57]:
# P(SALARIED) = 
3745/len(df)

0.23510578190721326

In [59]:
# P(Male | Salaried) = P(MALE and SALARIED) / P(SALARIED)
# [2715/len(df)] / [3745/len(df)]
# = COUNT(MALE and SALARIED) / COUNT(SALARIED)

# ESSENTIALLY MEANS IS out of 3745, how many are MALES ??

0.7249680986814122

In [63]:
# If I pick a random MALE, what is the probability for his CHURN ??
# P(churn==1 | male) = ???

pd.crosstab(df['gender'], df['churn'])

churn    0.0   1.0
gender
Female  5208  1126
Male    7734  1861

In [64]:
1861/sum(df.gender=='Male')

0.19395518499218342

In [67]:
# P(Male | Churn ==1)
1861 / (1861+1126)

0.6230331436223636

In [66]:
# P(churn==1 | Female) = 
1126/sum(df.gender=='Female')

0.1777707609725292

### Baye's Theorem Application >> Fraud Detection:
In a bank's credit card transactions, it is known that 2% of transactions are fraudulent. The bank has two fraud detection systems: System X and System Y. System X detects fraud with an accuracy rate of 95%, while System Y detects fraud with an accuracy rate of 90%. However, System X is used 80% of the time, and System Y is used 20% of the time. 

If a transaction is flagged as fraudulent by the System X, what is the probability that this transaction is fraudulent ?

Given:
P(Fraud) = 0.02 (probability of a transaction being fraudulent)
P(System X | Fraud) = 0.95 (accuracy rate of System X)
P(System Y | Fraud) = 0.90 (accuracy rate of System Y)
P(System X) = 0.80 (probability of using System X)
P(System Y) = 0.20 (probability of using System Y)
We want to calculate P(Fraud | Detected by System X), which is the probability that a flagged transaction is detected by System X and is fraudulent.

Applying Bayes' theorem:
P(Fraud | Detected by System X) = (P(System X | Fraud) * P(Fraud)) / P(System X)

Plugging in the values:
P(Fraud | Detected by System X) = (0.95 * 0.02) / 0.80
P(Fraud | Detected by System X) = 0.02375

Therefore, the probability that a flagged transaction detected by System X is fraudulent is approximately 0.02375.

### Baye's Theorem Application >> Loan Approval:
A bank offers personal loans to its customers based on their credit history and income. From past data, it is known that 30% of loan applications are approved. Among the approved applications, 80% of them have a good credit history, while among the rejected applications, only 10% have a good credit history. Additionally, 70% of the loan applications have a good credit history. If a loan application has been rejected, what is the probability that it had a good credit history?