In [ ]:
import pandas as pd

In [6]:
df1 = pd.read_csv("churn_prediction.csv")
df1.head()

,customer_id,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,current_balance,...,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,last_transaction,churn
0,1,2401,66,Male,0.0,self_employed,187.0,2,755,1458.71,...,1458.71,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71,2019-05-21,0.0
1,2,2648,35,Male,0.0,self_employed,NaN,2,3214,5390.37,...,7799.26,12419.41,0.56,0.56,5486.27,100.56,6496.78,8787.61,2019-11-01,0.0
2,4,2494,31,Male,0.0,salaried,146.0,2,41,3913.16,...,4910.17,2815.94,0.61,0.61,6046.73,259.23,5006.28,5070.14,NaT,0.0
3,5,2629,90,NaN,NaN,self_employed,1020.0,2,582,2291.91,...,2084.54,1006.54,0.47,0.47,0.47,2143.33,2291.91,1669.79,2019-08-06,1.0
4,6,1879,42,Male,2.0,self_employed,1494.0,3,388,927.72,...,1643.31,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16,2019-11-03,1.0

In [7]:
df1.info()   # csv version

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15930 entries, 0 to 15929
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   customer_id                     15930 non-null  int64
 1   vintage                         15930 non-null  int64
 2   age                             15930 non-null  int64
 3   gender                          15642 non-null  object
 4   dependents                      14582 non-null  float64
 5   occupation                      15883 non-null  object
 6   city                            15470 non-null  float64
 7   customer_nw_category            15930 non-null  int64
 8   branch_code                     15930 non-null  int64
 9   current_balance                 15930 non-null  float64
 10  previous_month_end_balance      15930 non-null  float64
 11  average_monthly_balance_prevQ   15930 non-null  float64
 12  average_monthly_balance_prevQ2  15930 non-null  float64
 13  current_month_credit            15930 non-null  float64
 14  previous_month_credit           15930 non-null  float64
 15  current_month_debit             15930 non-null  float64
 16  previous_month_debit            15929 non-null  float64
 17  current_month_balance           15929 non-null  float64
 18  previous_month_balance          15929 non-null  float64
 19  last_transaction                15929 non-null  object
 20  churn                           15929 non-null  float64
dtypes: float64(13), int64(5), object(3)
memory usage: 2.6+ MB

In [8]:
df1["gender"] = df1["gender"].astype("category")

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15930 entries, 0 to 15929
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   customer_id                     15930 non-null  int64
 1   vintage                         15930 non-null  int64
 2   age                             15930 non-null  int64
 3   gender                          15642 non-null  category
 4   dependents                      14582 non-null  float64
 5   occupation                      15883 non-null  object
 6   city                            15470 non-null  float64
 7   customer_nw_category            15930 non-null  int64
 8   branch_code                     15930 non-null  int64
 9   current_balance                 15930 non-null  float64
 10  previous_month_end_balance      15930 non-null  float64
 11  average_monthly_balance_prevQ   15930 non-null  float64
 12  average_monthly_balance_prevQ2  15930 non-null  float64
 13  current_month_credit            15930 non-null  float64
 14  previous_month_credit           15930 non-null  float64
 15  current_month_debit             15930 non-null  float64
 16  previous_month_debit            15929 non-null  float64
 17  current_month_balance           15929 non-null  float64
 18  previous_month_balance          15929 non-null  float64
 19  last_transaction                15929 non-null  object
 20  churn                           15929 non-null  float64
dtypes: category(1), float64(13), int64(5), object(2)
memory usage: 2.4+ MB

In [1]:
import pandas as pd
df = pd.read_pickle("churn_prediction_v3.pkl")
df.head()

,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,current_balance,previous_month_end_balance,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,churn
0,2401,66,Male,0,self_employed,187,2,755,1458.71,1458.71,1458.71,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71,0.0
1,2648,35,Male,0,self_employed,100000,2,3214,5390.37,8704.66,7799.26,12419.41,0.56,0.56,5486.27,100.56,6496.78,8787.61,0.0
2,2494,31,Male,0,salaried,146,2,41,3913.16,5815.29,4910.17,2815.94,0.61,0.61,6046.73,259.23,5006.28,5070.14,0.0
3,2629,90,Male,1,self_employed,1020,2,582,2291.91,2291.91,2084.54,1006.54,0.47,0.47,0.47,2143.33,2291.91,1669.79,1.0
4,1879,42,Male,2,self_employed,1494,3,388,927.72,1401.72,1643.31,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16,1.0

In [3]:
df.describe()

,vintage,age,dependents,current_balance,previous_month_end_balance,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance
count,15929.000000,15929.000000,15929.000000,1.592900e+04,1.592900e+04,1.592900e+04,1.592900e+04,1.592900e+04,1.592900e+04,1.592900e+04,1.592900e+04,1.592900e+04,1.592900e+04
mean,2392.421181,48.173206,0.373470,7.270714e+03,7.386311e+03,7.432824e+03,7.183143e+03,3.279398e+03,3.419695e+03,3.498418e+03,3.466232e+03,7.362582e+03,7.438765e+03
std,272.487032,17.865539,1.050676,5.051341e+04,4.944390e+04,4.893687e+04,5.528742e+04,3.124824e+04,3.541378e+04,2.825815e+04,2.772081e+04,4.933807e+04,4.973615e+04
min,438.000000,1.000000,0.000000,-5.503960e+03,-2.998640e+03,1.428690e+03,-1.650610e+04,1.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02,-3.374180e+03,-3.060130e+03
25%,2260.000000,35.000000,0.000000,1.776370e+03,1.908420e+03,2.168030e+03,1.821850e+03,3.100000e-01,3.300000e-01,4.100000e-01,4.100000e-01,1.988660e+03,2.077040e+03
50%,2454.000000,46.000000,0.000000,3.276340e+03,3.380620e+03,3.520020e+03,3.373320e+03,6.100000e-01,6.400000e-01,9.450000e+01,1.124800e+02,3.445410e+03,3.450510e+03
75%,2593.000000,60.000000,0.000000,6.624210e+03,6.685810e+03,6.675250e+03,6.532500e+03,7.075900e+02,7.718700e+02,1.393640e+03,1.357730e+03,6.658490e+03,6.679810e+03
max,2776.000000,90.000000,52.000000,5.905904e+06,5.740439e+06,5.700290e+06,5.010170e+06,1.764286e+06,2.361808e+06,1.764286e+06,1.414168e+06,5.778185e+06,5.720144e+06

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15929 entries, 0 to 15928
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   vintage                         15929 non-null  int64
 1   age                             15929 non-null  int64
 2   gender                          15929 non-null  category
 3   dependents                      15929 non-null  int64
 4   occupation                      15929 non-null  category
 5   city                            15929 non-null  category
 6   customer_nw_category            15929 non-null  category
 7   branch_code                     15929 non-null  category
 8   current_balance                 15929 non-null  float64
 9   previous_month_end_balance      15929 non-null  float64
 10  average_monthly_balance_prevQ   15929 non-null  float64
 11  average_monthly_balance_prevQ2  15929 non-null  float64
 12  current_month_credit            15929 non-null  float64
 13  previous_month_credit           15929 non-null  float64
 14  current_month_debit             15929 non-null  float64
 15  previous_month_debit            15929 non-null  float64
 16  current_month_balance           15929 non-null  float64
 17  previous_month_balance          15929 non-null  float64
 18  churn                           15929 non-null  category
dtypes: category(6), float64(10), int64(3)
memory usage: 1.7 MB

In [14]:
df.describe().round(2)

,vintage,age,dependents,current_balance,previous_month_end_balance,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance
count,15929.00,15929.00,15929.00,15929.00,15929.00,15929.00,15929.00,15929.00,15929.00,15929.00,15929.00,15929.00,15929.00
mean,2392.42,48.17,0.37,7270.71,7386.31,7432.82,7183.14,3279.40,3419.69,3498.42,3466.23,7362.58,7438.76
std,272.49,17.87,1.05,50513.41,49443.90,48936.87,55287.42,31248.24,35413.78,28258.15,27720.81,49338.07,49736.15
min,438.00,1.00,0.00,-5503.96,-2998.64,1428.69,-16506.10,0.01,0.01,0.01,0.01,-3374.18,-3060.13
25%,2260.00,35.00,0.00,1776.37,1908.42,2168.03,1821.85,0.31,0.33,0.41,0.41,1988.66,2077.04
50%,2454.00,46.00,0.00,3276.34,3380.62,3520.02,3373.32,0.61,0.64,94.50,112.48,3445.41,3450.51
75%,2593.00,60.00,0.00,6624.21,6685.81,6675.25,6532.50,707.59,771.87,1393.64,1357.73,6658.49,6679.81
max,2776.00,90.00,52.00,5905904.03,5740438.63,5700289.57,5010170.10,1764285.97,2361808.29,1764285.97,1414168.06,5778184.77,5720144.50

In [15]:
df.describe().round(2).T

,count,mean,std,min,25%,50%,75%,max
vintage,15929.0,2392.42,272.49,438.00,2260.00,2454.00,2593.00,2776.00
age,15929.0,48.17,17.87,1.00,35.00,46.00,60.00,90.00
dependents,15929.0,0.37,1.05,0.00,0.00,0.00,0.00,52.00
current_balance,15929.0,7270.71,50513.41,-5503.96,1776.37,3276.34,6624.21,5905904.03
previous_month_end_balance,15929.0,7386.31,49443.90,-2998.64,1908.42,3380.62,6685.81,5740438.63
average_monthly_balance_prevQ,15929.0,7432.82,48936.87,1428.69,2168.03,3520.02,6675.25,5700289.57
average_monthly_balance_prevQ2,15929.0,7183.14,55287.42,-16506.10,1821.85,3373.32,6532.50,5010170.10
current_month_credit,15929.0,3279.40,31248.24,0.01,0.31,0.61,707.59,1764285.97
previous_month_credit,15929.0,3419.69,35413.78,0.01,0.33,0.64,771.87,2361808.29
current_month_debit,15929.0,3498.42,28258.15,0.01,0.41,94.50,1393.64,1764285.97
previous_month_debit,15929.0,3466.23,27720.81,0.01,0.41,112.48,1357.73,1414168.06
current_month_balance,15929.0,7362.58,49338.07,-3374.18,1988.66,3445.41,6658.49,5778184.77
previous_month_balance,15929.0,7438.76,49736.15,-3060.13,2077.04,3450.51,6679.81,5720144.50

In [20]:
df1.describe(include="O").round(2)  # for CSV

           occupation last_transaction
count           15883            15929
unique              5              348
top     self_employed              NaT
freq             9814             1811

In [17]:
df.describe(include="category").round(2)

,gender,occupation,city,customer_nw_category,branch_code,churn
count,15929,15929,15929,15929,15929,15929.0
unique,2,5,1288,3,2806,2.0
top,Male,self_employed,1020,2,6,0.0
freq,9595,9860,1949,8163,75,12942.0

In [23]:
df["age"].mean(),

(48.17320610207797, 17.86553928645183)

In [28]:
df["age"].std()

17.86553928645183

In [27]:
import numpy as np
np.mean(df["age"]), np.std(df["age"])

(48.17320610207797, 17.864978491057)

In [29]:
np.std(df["age"], ddof=1)

17.86553928645183

In [35]:
df["age"].mean()

48.17320610207797

In [38]:
age_sample = df["age"].sample(200)
age_sample.mean()

46.47

In [39]:
np.random.seed(42)
n = 200
age_sample = df["age"].sample(n)
SE = df["age"].std()/np.sqrt(n)
SE

1.2632843979004762

In [40]:
from scipy.stats import norm

In [43]:
confidence_level = 0.95
alpha = 1-confidence_level

norm.ppf(alpha/2)

-1.959963984540054

# Questions on Normal Distribution

#### Q. At a bank, the processing time for personal loan applications follows a normal distribution with a mean of 10 days and a standard deviation of 2 days. Calculate the probability that a randomly selected loan application takes less than 8 days to process.

In [11]:
# P(X<=8) = ???

norm.cdf(8, loc=10, scale=2)

0.15865525393145707

#### A credit card company is concerned about fraudulent transactions. The transaction amounts for legitimate transactions follow a normal distribution with a mean of USD 100 and a standard deviation of USD 20. Calculate the transaction amount above which only 5% of legitimate transactions occur.

In [13]:
# we are looking for the X value where P(X>0.05) ??
norm.isf(0.05, loc=100, scale=20)

132.89707253902947

In [14]:
# we are looking for the X value where P(X <= 0.95) ??
norm.ppf(0.95, loc=100, scale=20)

132.89707253902944

#### A bank is analyzing the monthly credit card bill amounts of its customers. The bill amounts follow a normal distribution with a mean of USD 500 and a standard deviation of USD 100. Calculate the probability that a randomly selected customer has a bill amount exceeding $700.

In [16]:
# X = bill amount
# P(X>700) = ???

norm.sf(700, loc=500, scale=100)

0.022750131948179195

#### A bank is issuing credit cards with a credit limit that follows a normal distribution with a mean of USD 10,000 and a standard deviation of USD 2,000. What is the credit limit below which only 10% of credit cards are issued?

In [18]:
# X = credit limit
# we are looking for the X value where P(X <= 0.1) ??
norm.ppf(0.1, 10000, 2000).round()

7437.0

#### A bank wants to set a minimum balance requirement for a specific account type. The account balances follow a normal distribution with a mean of USD 2000 and a standard deviation of USD 500. What is the minimum balance threshold below which 25% of account holders fall?

In [19]:
# X = minimum bal
# we are looking for the X value where P(X <= 25) ??

norm.ppf(0.25, 2000, 500).round()

1663.0

# HW Problems on Normal Distribution

A bank offers a special interest rate on fixed deposits to customers who have an account balance exceeding a certain threshold. The account balance of customers follows a normal distribution with a mean of $10,000 and a standard deviation of $2,000. Calculate the proportion of customers who are eligible for the special interest rate if the threshold is set at $12,000.

In [1]:
import numpy as np
from scipy.stats import norm

norm.sf(12000, loc=10000, scale=2000)

0.15865525393145707

An insurance company has a policy that offers a bonus to policyholders whose claim amounts are within a certain range. The claim amounts follow a normal distribution with a mean of $5,000 and a standard deviation of $1,000. Calculate the probability that a randomly selected claim amount falls within the range of $4,000 to $6,000.

In [3]:
norm.cdf(6000, loc=5000, scale=1000) - norm.cdf(4000, loc=5000, scale=1000)

0.6826894921370859

A retail store measures the time it takes for customers to complete a purchase transaction. The transaction time follows a normal distribution with a mean of 3 minutes and a standard deviation of 0.5 minutes. What is the probability that a randomly selected customer completes the transaction in less than 2 minutes?

In [4]:
norm.cdf(2, loc=3, scale=0.5)

0.022750131948179195

An e-commerce platform analyzes the time taken for customers to complete the checkout process. The checkout time follows a normal distribution with a mean of 5 seconds and a standard deviation of 1 second. What is the 90th percentile of the checkout time distribution?

In [5]:
norm.ppf(0.90, loc=5, scale=1)

6.2815515655446

A bank analyzes the credit scores of loan applicants. The credit scores follow a normal distribution with a mean of 700 and a standard deviation of 50. What is the credit score cutoff below which only 10% of the applicants fall?

In [7]:
norm.ppf(0.1, loc=700, scale=50).round()

636.0